<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
(function() {
    var hash_func = <%- inline("/hash/" + hash_name + ".js") %>
    <%- inline("/localforage.js") %>
    <%- inline("/loader.js") %>

    loader = new Loader({

    });

    loader.start()
})();
</script>

</head>
<body>
<h1 id="title-loading">Loading</h1>
<h1 id="title-done" class="hide">Done</h1>
<p id="total-progress"></p>
</body>
</html>
