<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
(function() {
    var FAKE_APP = {{{JSON.stringify(fake-app)}}};
    {{{md5}}}
    {{{loader}}}
})();
</script>
</head>
<body>
</body>
</html>



