<!DOCTYPE html>
<html>
<head>

<script type="text/javascript">
(function() {
    var hash_func = <%- inline("./hash/" + hash_name + ".js") %>
    <%- inline("./localforage.js") %>
    <%- inline("./loader.js") %>

    var loader = new Loader({
        "version": "<%- version %>",
        "manifest_location": "<%- manifest_location %>",
        "prefix": "spa",
        "hash_name": "<%- hash_name %>",
        "hash_func": hash_func,
    });

    <%- inline("./bootstrap.js") %>

    window.onload = function() 
    {
        loader.load();
    }
})();
</script>

</head>
<body>
<h1 id="title-loading">Loading</h1>
<h1 id="title-done" class="hide">Done</h1>
<p id="total-progress"></p>
</body>
</html>
